# created by virtualenv automatically
/etc/
/Lib/
/Scripts/
/share/
/pyvenv.cfg
/venv/
/.idea/
/vhi_data/
AirQualityUCI.csv
AirQualityUCI.xlsx
household_power_consumption.txt
lab_4_1_AD.ipynb
lab_4_2_AD.ipynb
lab_5_AD.py
lab_5_2_AD.py